<div>
  <div class="form-group" ng-repeat="field in metadata.checkboxes">
    <label class="col-md-4 control-label">{{resolveFieldName(field)}}</label>

    <div class="col-md-4">
      <input type="checkbox" ng-model="store[field]" ng-disabled="readOnly"
             ng-change="fieldValueModified(field)"
             ng-style="getStyle(field)"/>
    </div>

    <div class="col-md-4 pull-left">
      <i class="fa fa-info-circle" tooltip="{{metadata.currentStore[field].description}}"
         tooltip-trigger tooltip-animation="true" tooltip-placement="top"></i>
              <span ng-if="isFieldValueModified(field)"><a ng-click="undoFieldChange(field)">(Undo)</a>
              <span ng-if="fieldChangeRequiresRestart(field)">Restart needed</span></span>
    </div>
  </div>
</div>
