<div>
  <uib-tabset vertical="true" type="pills">
    <uib-tab heading="General" active="true">
      <configuration-section fields="[{name: 'Main', fields: ['name', 'cache-container']},
                                      {name: 'TCP', fields: ['idle-timeout', 'receive-buffer-size', 'send-buffer-size', 'tcp-nodelay']},
                                      {name: 'Sockets', fields: ['socket-binding']}]" data="$ctrl.data"
                             meta="$ctrl.getMetaForResource('.attributes')" init-defaults="$ctrl.initDefaults" read-only="$ctrl.readOnly"
                             read-only-fields="$ctrl.readOnlyFields" config-callbacks="$ctrl.configCallbacks"/>
    </uib-tab>

    <uib-tab heading="Authentication">
      <configuration-section fields="[{name: 'Authentication', fields: ['acquire-timeout', 'concurrency-level', 'isolation', 'striping']}]"
                             data="ctrl.data" meta="$ctrl.getMetaForResource('.children.authentication.model-description.AUTHENTICATION.attributes')"
                             init-defaults="initDefaults" read-only="$ctrl.readOnly"
                             config-callbacks="$ctrl.configCallbacks" removable="true"/>
    </uib-tab>
    <uib-tab heading="Topology State Transfer">
      <configuration-section fields="[{name: 'Topology State Transfer', fields: ['acquire-timeout', 'concurrency-level', 'isolation', 'striping']}]"
                             data="ctrl.data" meta="$ctrl.getMetaForResource('.children.authentication.model-description.AUTHENTICATION.attributes')"
                             init-defaults="initDefaults" read-only="$ctrl.readOnly"
                             config-callbacks="$ctrl.configCallbacks" removable="true"/>
    </uib-tab>
    <uib-tab heading="Encryption">
      <configuration-section fields="[{name: 'Encryption', fields: ['lifespan', 'interval', 'max-idle']}]"
                             data="ctrl.data" meta="$ctrl.getMetaForResource('.children.authentication.model-description.AUTHENTICATION.attributes')"
                             init-defaults="initDefaults" read-only="$ctrl.readOnly"
                             config-callbacks="$ctrl.configCallbacks" removable="true"/>
    </uib-tab>
  </uib-tabset>
</div>
